@use "../abstracts/" as *;

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  background-color: $body-background-color;
  color: $body-text-color;
}

h1, h2, h3 {
  line-height: 1.1;
}

a {
  color: $link-color;
  transition: color $transition;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}

section {
  padding-block: $section-padding-block;

  // & p & .text-center {
  //   max-width: 60ch;
  //   margin-inline: auto;
  // }
}

