$colors: (
  neutral: (
    100: #ffffff,
    300: #f5f5f5,
    500: #808080,
    700: #555555,
    900: #111111,
  ),
  primary: (
    100: #DCF3FB,
    300: #93CAE8,
    500: #4682B4,
    700: #234C81,
    900: #0D2556,
  ),
  accent-1: (
    100: #EAFBD5,
    300: #ABEA7F,
    500: #53BC2D,
    700: #248716,
    900: #085A09,
  ),
  accent-2: (
    100: #FFF6D7,
    300: #FFDE88,
    500: #FFBA3A,
    700: #B7761D,
    900: #7A430B,
  ),
  accent-3: (
    100: #FFE8D6,
    300: #FFA985,
    500: #FF5035,
    700: #B71A1E,
    900: #7A0A1E,
  ),
);
