@use "../abstracts/" as *;

.about {
  .person {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas:
      "title"
      "text"
      "img";
  }

  .title {
    font-size: $font-size-600;
    margin-bottom: $size-4;
    grid-area: title;
  }

  .text {
    grid-area: text;
  }
  
  .img {
    font-size: 160px;
    margin-block: -2rem;
    justify-self: center;
    grid-area: img;
  }

  @include mq(medium) {
    .person {
      grid-template-areas:
        "title title img"
        "text text img"
        "text text img";
    }
  }
}
