@use "../abstracts/" as *;

.about {
  .person {
    display: grid;
    gap: 3rem;

    @include mq(medium) {
      grid-template-columns: 1fr auto;
    }
  }

  .text {
    display: flex;
    align-items: center;
  }

  .img {
    font-size: 15rem;
    margin-block: -3rem;
  }

  a {
    color: clr(accent-2, 500);
  }
}
