@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  font-family: $button-font-family;
  letter-spacing: $button-letter-spacing;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: $button-border;
  border-radius: $button-border-radius;
  font-weight: $button-font-weight;
  padding: $button-padding-default;
  box-shadow: $box-shadow-1;
  transition: color $button-transition, background $button-transition;
  justify-self: $button-justify-self;

  &[data-type="index-1"] {
    background-color: $button-1x1-background;
    color: $button-1x1-color;

    &:is(:hover, :focus) {
      background-color: $button-1x1-background-hover;
      color: $button-1x1-color-hover;
    }
  }
  &[data-type="index-2"] {
    background-color: $button-1x1-task-background;
    color: $button-1x1-task-color;

    &:is(:hover, :focus) {
      background-color: $button-1x1-task-background-hover;
      color: $button-1x1-task-color-hover;
    }
  }
  &[data-type="index-3"] {
    background-color: $button-letter-background;
    color: $button-letter-color;

    &:is(:hover, :focus) {
      background-color: $button-letter-background-hover;
      color: $button-letter-color-hover;
    }
  }
}
