@use "../abstracts" as *;

.button {
  display: inline-flex;
  cursor: pointer;
  color: clr(neutral, 300);
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  border: none;
  font-weight: $fw-700;
  padding: $button-padding-block $button-padding-inline;
  transition: 275ms ease;
  justify-self: center;

  &[data-type="accent-1"] {
    background-color: clr(accent-1, 500);

    &:is(:hover, :focus) {
      background-color: clr(accent-1, 700);
    }
  }

  &[data-type="accent-2"] {
    background-color: clr(accent-2, 500);

    &:is(:hover, :focus) {
      background-color: clr(accent-2, 700);
    }
  }

  &[data-type="accent-3"] {
    background-color: clr(accent-3, 500);

    &:is(:hover, :focus) {
      background-color: clr(accent-3, 700);
    }
  }
}
