@use "../abstracts/" as *;

.card {
  display: grid;
  gap: $card-flow-spacing;
  padding: $card-padding;
  font-family: $card-font-family;
  box-shadow: $box-shadow-3;
  border-radius: $card-border-radius;
  line-height: 1;
  
  grid-template-rows: auto 1fr;
  
  .title {
    font-size: $card-heading-font-size;
    margin-bottom: $size-8;
  }
  
  .list {
    padding: $card-padding-inside;
    box-shadow: $box-shadow-1;
    border-radius: $card-border-radius;
  }

  .button {
    margin-top: $size-10;
  }
}
