@use "../abstracts/" as *;

.card {
  display: grid;
  gap: $card-flow-spacing;
  padding: $card-body-padding;
  color: $card-color-default;
  font-family: $card-font-family;

  // grid-template-rows: auto 1fr;
  .title {
    font-size: $card-heading-font-size;
  }
  
  & div {
   padding: $card-body-padding-inside; 
  }
}