@use "../abstracts/" as *;

.games {
  min-height: 100%;
  background-color: $color-primary-700;
}

.game-wrapper {
  display: grid;
  gap: $grid-gap;
  grid-template-areas:
    "header"
    "aside"
    "content";

  @include mq(medium) {
    grid-template-areas: 
    "aside header header"
    "aside content content";
    grid-template-columns: 230px 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-items: start;
  }

  .game-header {
    grid-area: header;
  }

  .game-aside {
    grid-area: aside;
    text-align: center;

    @include mq(medium) {
      text-align: left;
    }
  }

  .game-play-wrapper {
    grid-area: content;
  }
}
