@use "../abstracts/" as *;

.game-aside {
  .list-row {
    display: grid;
    gap: 3px;
    padding: 3px;
  }
  .row {
    cursor: pointer;
    border: none;
    min-height: 3rem;
    width: 100%;
    transition: color $button-transition, background $button-transition;

    &:is(:hover, :focus) {
      background-color: rgb(black, 0.25);
      color: $color-neutral-100;
    }
    
    @include mq(medium) {
      text-align: left;
      text-indent: 1rem;
    }
  }
  .list-type {
    display: grid;
    gap: 3px;
  }
  .type {
    cursor: pointer;
    text-indent: 2rem;
    transition: color $button-transition, background $button-transition;

    &:is(:hover, :focus) {
      background-color: rgb(black, 0.25);
      color: $color-neutral-100;
    }
  }
}
