@use "../abstracts/" as *;

.nav {
  a {
    font-family: $navigation-font-family;
    color: $navigation-text-color;
    font-size: $navigation-font-size;
    font-weight: $navigation-font-weight;
    letter-spacing: $navigation-letter-spacing;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;

    &:is(:hover, :focus) {
      color: $navigation-text-color-hover;
    }
  }
}

.main-nav {
  width: 100%;

  .list {
    display: flex;
    flex-direction: column;
  }
  li {
    width: 100%;
    text-align: center;
  }
  a,
  .a-span {
    display: inline-block;
    width: 100%;
    padding-block: $size-3;
  }

  @include mq(wide) {
    align-self: end;
    width: auto;
    display: block !important;

    .list {
      flex-direction: row;
    }
    a,
    .a-span {
      padding-left: $size-3;
    }
  }
}

.social-media-nav {
  align-self: center;

  a,
  .a-span {
    color: $navigation-text-color-hover;
    font-size: $font-size-500;

    &:is(:hover, :focus) {
      color: $navigation-text-color;
    }
  }
}

.game-nav {
  a {
    display: inline-block;
    width: 100%;
    padding: $size-2 $size-4;
    margin-block: $size-1;

    &:is(:hover, :focus) {
      color: $navigation-game-nav-color-hover;
    }
  }

  .game-nav-inner {
    display: grid;
    grid-template-areas: "toggle menu";
    grid-template-columns: 100px 1fr;
  }
  .menu-toggler {
    grid-area: toggle;
    font-size: $font-size-600;
    cursor: pointer;
  }
  .list {
    grid-area: menu;
    text-align: center;
  }

  @include mq(medium) {
    .game-nav-inner {
      grid-template-areas: "menu menu";
    }

    .list {
      display: flex !important;
      gap: calc($flex-gap / 2);
      width: 100%;
    }
    .menu-toggler {
      display: none;
    }
    a {
      margin: 0;
      padding: $size-2 $size-4;
    }
    .games-link {
      margin-right: auto;
    }
  }
}
