@use "../abstracts/" as *;

.projects {
  background-image: url('./assets/writing-desk.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .header{
    background: rgb(clr(accent-1, 500), .8);

    p {
      max-width: 45ch;
      margin-inline: auto;
    }
  }

  .card {
    background: rgb(clr(primary, 500), .8);
  }
}