@use "../abstracts/" as *;

.projects {
  background-image: url("/assets/writing-desk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .section-header {
    background: $card-color-opacity-II;
  }

  .card {
    background: $card-color-opacity-I;

    .title {
      text-shadow: $card-text-shadow;
      font-weight: $card-font-weight;
      letter-spacing: $card-letter-spacing;
    }

    .text {
      line-height: 1.4;
    }
  }
}
