@use '../abstracts' as *;

.grid-even-columns {
  display: grid;
  gap: var(--grid-gap, $grid-gap);
  
  & > * {
    max-width: 500px;
    margin-inline: auto;
  }

  @include mq(wide) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}